<app-header [nomeUtilizador]="userlogado"></app-header>
<div align="center" class="filtro">
    <mat-form-field appearence="outline">
      <mat-label>Ano Lectivo</mat-label>
      <mat-select [(value)]="anoSeleccionado" >
        <mat-option value="2023">2024</mat-option>
        <mat-option value="2022">2023</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="separador"></div>
    <mat-form-field appearence="fill">
      <mat-label>Semestre</mat-label>
      <mat-select [(value)]="semestreSeleccionado" (selectionChange)="listarDebitos()">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
<div class="container">
<p-table [value]="contas" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Descrição </th>
            <th>Entidade</th>
            <th>Referência</th>
            <th>Total a Pagar</th>
            <th>Prazo de Pagamento</th>
            <th>Crédito</th>
            <th>Data de Pagamento</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contacorrente let-columns="columns">
        <tr>
            <td>{{contacorrente.descricao}}</td>
            <td>91111</td>
            <td>{{contacorrente.referencia}}</td>
            <td>{{contacorrente.totalDebito}}</td> 
            <td>{{contacorrente.prazo}}</td>
            <td>{{contacorrente.credito}}</td> 
            <td>{{contacorrente.dataPagamento}}</td>  
        </tr>
    </ng-template>
  </p-table>
</div>