
<app-header [nomeUtilizador]="userlogado"></app-header>
<section class="login-component">
    <mat-card class="login">

        <div class="form-container">
            <mat-card-header>
                <mat-card-title></mat-card-title>
            </mat-card-header>
       
            <p style="font: 12px/14px arial;
            font-weight: bold; color: #fd6127; text-decoration: none;">ATUALIZAR SENHA</p>
            <form [formGroup]="loginForm">
                <mat-card-content>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Nova Senha</mat-label>
                        <input matInput placeholder="Digite a sua senha" type="password"  formControlName="password">
                        <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">a senha é obrigatória</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirmar Senha</mat-label>
                        <input matInput placeholder="Confirme a sua senha" type="password" formControlName="confirmPassword">
                        <mat-error *ngIf="loginForm.get('confirmPassword')?.errors?.['required']">a senha é obrigatória</mat-error>
                        <mat-error *ngIf="loginForm.get('confirmPassword')?.errors?.['equalTo']">senhas não coincidem!</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button [disabled]="loginForm.invalid" mat-flat-button color="warn" (click)="reset()">Login</button>
                </mat-card-actions>
            </form>
        </div>
    </mat-card>
</section>