
.pauta-card {

  width: 400px;
  margin: 5px;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 16px;
  margin-bottom: 40px;
 
}

.conteudo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.mat-toolbar.mat-primary{
  background: #fd6127;
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.separador{
  width: 10px;
}

.filtro{
 top: 0;
 width: 100%;
 margin: auto;
 padding: 10px;
 margin-top: 10px;
 display:flex;
 justify-content: center;
}


