

.full-width{
    width: 300px;
}

.color-button{
  background-color: green; color: purple; border: 1px solid orange; 
} 
.mat-success {
  background-color: green;
  color: #fff;
}


  .h2 { font: 12px/14px arial;
    font-weight: bold; color: #fd6127; text-decoration: none; }

.login-component {
    max-width: 100%;
    min-height: 54%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  
    .login {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 200px;
      width: 400px;
    }
  
  
    .form-container {
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;
  
      mat-card-header {
        margin-bottom: 24px;
  
        mat-card-title {
          font-size: 32px;
          font-weight: 400;
        }
      }
  
      mat-card-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
  
      mat-card-actions {
        display: flex;
        flex-direction: column;
        align-items: normal;
  
        button {
          margin: 0 8px;
          margin-bottom: 16px;
        }
      }
  
      p {
        font-size: 16px;
        font-weight: 500;
      }
      
  
      a {
        cursor: pointer;
  
      }
    }
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 16px;
    margin-bottom: 40px;
   
  }

  .button-color{
    color:#fd6127;
    width: 300px;
  }

  .mat-toolbar.mat-primary{
    background: #fd6127;
    color: #fff;
}

.spacer {
    flex: 1 1 auto;
  }

  mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  mat-form-field {
    display: block;
  }
