

.full-width{
    width: 300px;
}

.color-button{
  background-color: green; color: purple; border: 1px solid #461c06; 
} 
.mat-success {
  background-color: green;
  color: #fff;
}


  .h2 { font: 12px/14px arial;
    font-weight: bold; color:#461c06; text-decoration: none; }

    .login-component {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Ajusta a altura para preencher a tela inteira */
  }
  
  .login {
      width: 100%;
      max-width: 400px; /* Ajuste a largura máxima conforme necessário */
  }

.login-component {
    max-width: 100%;
    min-height: 54%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  
    .login {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 200px;
      width: 400px;
    }
  
  
    .form-container {
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;
  
      mat-card-header {
        margin-bottom: 24px;
  
        mat-card-title {
          font-size: 32px;
          font-weight: 400;
        }
      }
  
      mat-card-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
  
      mat-card-actions {
        display: flex;
        flex-direction: column;
        align-items: normal;
  
        button {
          margin: 0 8px;
          margin-bottom: 16px;
        }
      }
  
      p {
        font-size: 16px;
        font-weight: 500;
      }
      
  
      a {
        cursor: pointer;
  
      }
    }
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 16px;
    margin-bottom: 40px;
   
  }

  .button-color{
    color:#461c06;
    width: 300px;
  }

  .mat-toolbar.mat-primary{
    background: #461c06;
    color: #fff;
}

.spacer {
    flex: 1 1 auto;
  }

  mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  mat-form-field {
    display: block;
  }

  .custom-login-button {
    background-color: #461c06 !important;
    color: white !important;
    border: none !important;
}

.custom-login-button:hover {
    background-color: #6a3e2f !important;
}

.custom-login-button:disabled {
    background-color: #6a3e2f !important;
    color: #ccc !important;
}


