.actions {
    display: flex;
    justify-content: flex-end;
  }
  
  mat-card {
    margin-bottom: 16px;
  }
  
  @media (max-width: 600px) {
    mat-card {
      padding: 8px;
    }
  
    .actions {
      justify-content: center;
    }
  }

  .card-left {
    width: 100%;
  }
  
  .card-right {
    width: 100%;
    margin-bottom: 16px; /* Espaço entre os cards */
  }

  .card {
    width: 100%;
  }

  .responsive-field {
    width: 50%; /* Ocupa 50% da largura em telas maiores */
  }
  
  @media (max-width: 768px) {
    .responsive-field {
      width: 100%; /* Ocupa 100% da largura em telas menores */
    }
  }

  