<div class="p-fluid">
    <div class="p-field p-grid">
        <label for="endereco" class="p-col-12 p-md-2">Endereço</label>
        <div class="p-col-12 p-md-10">
            <input id="endereco" type="text" pInputText />
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="bairro" class="p-col-12 p-md-2">Bairro</label>
        <div class="p-col-12 p-md-10">
            <input id="bairro" type="text" pInputText />
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="cidade" class="p-col-12 p-md-2">Cidade</label>
        <div class="p-col-12 p-md-10">
            <input id="cidade" type="text" pInputText />
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="estado" class="p-col-12 p-md-2">Estado</label>
        <div class="p-col-12 p-md-10">
            <select id="estado" class="p-dropdown">
                <option value="estado1">Estado 1</option>
                <option value="estado2">Estado 2</option>
                <option value="estado3">Estado 3</option>
            </select>
        </div>
    </div>
</div>
